.tods-c-addtocart {
  position: relative;

  button {
    cursor: pointer;
    border: none;
    background: none;
  }

  &__button-plus-icon {
    &::before {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: 1px solid $tods-main-dark;
      content: '+';
      position: absolute;
      line-height: 10px;
    }
  }
}