.tods-c-button {
    font-family: 'Roboto', cursive;
    color: $tods-main-white;
    padding: 12px;
    margin: 0 32px 0 0;
    background-color: $tods-main-black;
    border: none;
    display: flex;
    justify-content: center;
    line-height: 24px;

    &:disabled {
        opacity: 0.1;
    }

    &--icon {
        border: 1px solid $tods-main-black;
        background-color: $tods-main-white;
        color: $tods-main-black;
    }

    i {
        margin-right: 8px;
    }
}