.tods-c-cartmini {
  position: relative;
  display: block;
  border: 2px solid $tods-main-amber;
  padding: 4px;
  text-transform: uppercase;
  line-height: 30px;

  &__qty {
    color: $tods-main-white;
    width: 12px;
    height: 12px;
    border: 1px solid $tods-main-white;
    border-radius: 8px;
    font-size: 12px;
    display: block;
    position: absolute;
    text-align: center;
    top: -10px;
    left: 16px;
  }
}