.tods-c-header {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
  
  @include lg {
    margin-bottom: 42px;
  }

  &__top {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  &__title {
    text-transform: uppercase;
    font-size: 28px;
    
    @include xs {
      text-align: left;
      margin-left: 22px;
    }
  }

  &__cartmini {
    display: flex;
    position: absolute;
    right: 18px;
    top: 16px;
    
    @include lg {
      flex-direction: row;
    }
  }

  &__checkout-btn {
    padding: 12px;
  }
}
