.tods-c-input-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 42px 32px 42px 0;
    width: fit-content;
    flex-direction: column;
    position: relative;

    input {
      background: transparent;
      border-radius: 0;
      padding: 8px;
      width: 200px;
      border: 1px solid black;
    }

    label {
      position: absolute;
      font-family: 'Roboto';
      text-transform: uppercase;
      padding: 8px;
      transition: 0.2s;
      z-index: -1;
    }

    input:not(:placeholder-shown) + label {
      margin-top: -18px;
      font-size: 12px;
      padding: 0;
    }

    input:focus + label {
      margin-top: -18px;
      font-size: 12px;
      padding: 0;
    }

    input::-moz-placeholder {
      opacity: 0;
    }

    input::placeholder {
      opacity: 0;
    }

    &__error-msg {
      color: $tods-main-error;
      font-size: 12px;
      position: absolute;
      bottom: -16px
    }

    &__radio-el {
      display: flex;
      flex-direction: column;
      margin: 4px 0;
    }

    &__radio-desc {
      font-size: 10px;
      margin-left: 24px;
    }

    &--radio {
      flex-direction: column;
      text-align: left;
      
      input {
        width: 20px;
      }
    }
  }