.tods-c-navbar {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    &__ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        li:not(:last-child) {
            border-right: 1px solid $tods-main-gray;
        }
    }
    &__a {
        padding: 12px;
        text-transform: uppercase;
    }
}