.tods-c-option-select {
    background: $tods-main-white;
    border-radius: 0;
    padding: 8px;
    border: 1px solid $tods-main-gray;

    
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><path d='M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 8px;
    border: 1px solid $tods-main-gray;
    padding-right: 28px;
     

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 32px 16px 32px 0;

        label {
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 12px;
            font-size: 14px;
        }
    }
}    