.tods-c-product-list {
  padding: 12px;

  &__title {
    display: block;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__list-element {
    list-style: none;
    margin-left: 28px;
    margin-bottom: 28px;
  }

  &__product {
    border: 1px solid $tods-main-dark;
    border-radius: 4px;
    max-width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}