.tods-c-slider {
    display: flex;
    justify-content: center;

    @include lg {
        flex-direction: column;
    }
       
    &__active {
        display: flex;
        justify-content: center;
        position: relative;

    }

    &__absolute-container {
        width: 100%;
    }

    &__active-controls {
        width: 50%;
        
        position: absolute;
        height: 100%;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__controls {
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 590px;
        @include lg {
            display: flex;
        }
    }

    &__control-image-box {
        margin: 8px;
        border: 3px solid $tods-main-white;

        &--selected {
            border: 3px solid $tods-main-black;                            
        }
    }
}