.tods-layout-elements {
  &__button {
    background-color: #4caf50; /* Green */
    border: none;
    color: $tods-main-white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    &--info {
      background-color: $tods-main-info;
    }

    &--error {
      background-color: $tods-main-error;
    }

    &--warning {
      background-color: $tods-main-warning;
    }

    &--success {
      background-color: $tods-main-success;
    }
  }
}
