.tods-layout-global {
  &__body {
    display: block;
  }

  &__footer {
    height: 500px;
    background-color: $tods-main-light;
  }

  &__main-container {
    display: block;
  }

  &__main-content {
    background-color: lightgray;

    &--full-width {
      width: 100%;
      margin: 0;
    }

    &--centered {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__outer-container {
    margin: 12px auto;
    max-width: 1200px;
    border: 1px solid red;
  }

  &__inner-container {
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid red;
  }

  &__hint {
    font-family: Roboto;
  }
}
