/*
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto/Roboto-Black.ttf')  format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('/assets/fonts/Roboto/Roboto-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('/assets/fonts/Roboto/Roboto-Thin.ttf')  format('truetype');
}
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
