$tods-main: #70c0d4;
$tods-main-dark: #64bac5;
$tods-main-light: #b5ccc7;
$tods-main-white: #fff;
$tods-main-black: #000;
$tods-main-amber: #c6be75;
$tods-main-gray: #9c9c9c;
$tods-main-info: #008cba;
$tods-main-error: #f44336;
$tods-main-warning: #ffd500;
$tods-main-success: #4caf50;
