.tods-u-responsive {
    &__mobile-hide {
        display: none;
        
        @include lg {
            display: inherit;
        }
    }

    &__desktop-hide {
        display: inherit;
        
        @include lg {
            display: none;
        }
    }
}