.tods-p-checkout {
    font-family: 'Roboto', cursive;

    &__title {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        padding: 22px;
    }

    &__form-container {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
        padding: 22px;
    }

    &__form-group-title {
        font-size: 18px;
        text-transform: uppercase;
        text-align: left;
    }
}