.tods-p-pdp {
    font-family: 'Roboto', cursive;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;

    @include lg {
        flex-direction: row;
        padding: 0 48px;
        max-width: 1100px;
    }

    &__left-space {
        padding: 12px;
    }

    &__right-space {
        padding: 12px;
    }

    &__price-and-title {
        margin-bottom: 24px;

        @include lg {
            margin: 32px;
        }
    }

    &__name {
        margin: 0;
        color: $tods-main-black;
        text-align: left;
    }

    &__price {
        color: $tods-main;
        text-align: left;
    }

    &__description {
        text-align: left;
        font-size: 14px;
    }
    &__props {
        text-align: left;
    }

    &__props-name {
        color: $tods-main-black;
    }

    &__props-value {
        color: $tods-main;
        margin-left: 6px;
    }

    &__pickers {
        display: flex;
        flex-wrap: wrap;
    }

    &__actions {
        display: flex;
    }

    &__slider-container {
        position: relative;
    }
}