.tods-p-thank-you-page {
    font-family: 'Roboto', cursive;

    &__product-list {
        margin: 0 auto;
        width: fit-content;
    }

    &__total {
        font-size: 32px;
        margin: 24px;
    }
}